<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <div class="icon-box">
        <i class="bi bi-info-circle"></i>
        <h3>
          <a href="/hr-publication.html">HR Publication</a>
        </h3>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="icon-box">
        <i class="bi bi-card-checklist"></i>
        <h3><a href="/business-licensing.html">Business Licensing</a></h3>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="icon-box">
        <i class="bi bi-file-pdf"></i>
        <h3><a href="">Executive Orders</a></h3>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="icon-box">
        <i class="bi bi-file-pdf"></i>
        <h3><a href="/procurement.html">Procurement</a></h3>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="icon-box">
        <i class="bi bi-file-pdf"></i>
        <h3><a href="/transparency.html">Transparency</a></h3>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="icon-box">
        <i class="bi bi-file-pdf"></i>
        <h3><a href="">Downloads</a></h3>
      </div>
    </div>
  </div>
</div>
