<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="icon-box">
        <i class="bi bi-info-circle"></i>
        <h3>
          <a href="../basic-facts-and-figures.html">Basic Facts and Figures</a>
        </h3>
        <p>
          Voluptatum deleniti atque corrupti quos dolores et quas molestias
          excepturi sint occaecati cupiditate non provident
        </p>
      </div>
    </div>
    <div class="col-lg-4 mt-4 mt-lg-0">
      <div class="icon-box">
        <i class="bi bi-card-checklist"></i>
        <h3><a href="">Procurements</a></h3>
        <p>
          The Municipality of Panay, through its Bids and Awards Committee
          (BAC), invites manufacturers/ distributors/ contractors to apply for
          eligibility and to bid
        </p>
      </div>
    </div>
    <div class="col-lg-4 mt-4 mt-lg-0">
      <div class="icon-box">
        <i class="bi bi-file-pdf"></i>
        <h3><a href="">Publications</a></h3>
        <p>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur
        </p>
      </div>
    </div>
  </div>
</div>
