<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <div class="icon-box">
        <i class="bi bi-info-circle"></i>
        <h3>
          <a href="hr-publication.html">HR Publication</a>
        </h3>
        <p>Job Openings</p>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="icon-box">
        <i class="bi bi-card-checklist"></i>
        <h3><a href="">Business Licensing</a></h3>
        <li>Permits</li>
        <li>Flowcharts</li>
        <li>Requirements</li>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="icon-box">
        <i class="bi bi-file-pdf"></i>
        <h3><a href="">Executive Orders</a></h3>
        <p>List of Executive Orders</p>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="icon-box">
        <i class="bi bi-file-pdf"></i>
        <h3><a href="">Procurement</a></h3>
        <p>PhilGEPS</p>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="icon-box">
        <i class="bi bi-file-pdf"></i>
        <h3><a href="">Transparency</a></h3>
        <p>Full Disclosure Board</p>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="icon-box">
        <i class="bi bi-file-pdf"></i>
        <h3><a href="">Downloads</a></h3>
        <ul>
          <li>Citizen Charter</li>
          <li>Forms</li>
        </ul>
      </div>
    </div>
  </div>
</div>
