<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
      <div class="icon-box">
        <div class="icon"><i class="bx bx-heart"></i></div>
        <h4><a href="">Health Services</a></h4>
        <p>
          Voluptatum deleniti atque corrupti quos dolores et quas molestias
          excepturi
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
      <div class="icon-box">
        <div class="icon"><i class="bx bx-registered"></i></div>
        <h4><a href="">City Registry</a></h4>
        <p>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
      <div class="icon-box">
        <div class="icon"><i class="bx bx-health"></i></div>
        <h4><a href="">Social Welfare</a></h4>
        <p>
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
          officia
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
      <div class="icon-box">
        <div class="icon"><i class="bx bx-male-female"></i></div>
        <h4><a href="">Senior Citizens</a></h4>
        <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui
          blanditiis
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
      <div class="icon-box">
        <div class="icon"><i class="bx bx-traffic-cone"></i></div>
        <h4><a href="">Traffic Management</a></h4>
        <p>
          Quis consequatur saepe eligendi voluptatem consequatur dolor
          consequuntur
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
      <div class="icon-box">
        <div class="icon"><i class="bx bx-bell-plus"></i></div>
        <h4><a href="">Disaster Risk Management</a></h4>
        <p>
          Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit
          aspernatur
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
      <div class="icon-box">
        <div class="icon"><i class="bx bx-briefcase"></i></div>
        <h4><a href="">Public Employment Service</a></h4>
        <p>
          Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit
          aspernatur
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
      <div class="icon-box">
        <div class="icon"><i class="bx bx-cog"></i></div>
        <h4><a href="">Engineering & Public Works</a></h4>
        <p>
          Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit
          aspernatur
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
      <div class="icon-box">
        <div class="icon"><i class="bx bx-globe"></i></div>
        <h4><a href="">Parks, Environment & Waste Management</a></h4>
        <p>
          Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit
          aspernatur
        </p>
      </div>
    </div>
  </div>
</div>
