<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
      <div class="icon-box">
        <div class="icon"><i class="bx bx-heart"></i></div>
        <h4>
          <a
            href=""
            data-bs-toggle="modal"
            data-bs-target="#serviceModal"
            data-category="health"
            onclick="handleClick(this)"
            >Health Services</a
          >
        </h4>
        <p>
          Voluptatum deleniti atque corrupti quos dolores et quas molestias
          excepturi
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
      <div class="icon-box">
        <div class="icon"><i class="bx bx-registered"></i></div>
        <h4>
          <a
            href=""
            data-bs-toggle="modal"
            data-bs-target="#serviceModal"
            data-category="registry"
            onclick="handleClick(this)"
            >Registry</a
          >
        </h4>
        <p>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
      <div class="icon-box">
        <div class="icon"><i class="bx bx-health"></i></div>
        <h4>
          <a
            href=""
            data-bs-toggle="modal"
            data-bs-target="#serviceModal"
            data-category="social-welfare"
            onclick="handleClick(this)"
            >Social Welfare</a
          >
        </h4>
        <p>
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
          officia
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
      <div class="icon-box">
        <div class="icon"><i class="bx bx-bell-plus"></i></div>
        <h4>
          <a
            href=""
            data-bs-toggle="modal"
            data-bs-target="#serviceModal"
            data-category="disaster-risk-management"
            onclick="handleClick(this)"
            >Disaster Risk Management</a
          >
        </h4>
        <p>
          Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit
          aspernatur
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
      <div class="icon-box">
        <div class="icon"><i class="bx bx-cog"></i></div>
        <h4>
          <a
            href=""
            data-bs-toggle="modal"
            data-bs-target="#serviceModal"
            data-category="engineering"
            onclick="handleClick(this)"
            >Engineering & Public Works</a
          >
        </h4>
        <p>
          Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit
          aspernatur
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
      <div class="icon-box">
        <div class="icon"><i class="bx bx-globe"></i></div>
        <h4>
          <a
            href=""
            data-bs-toggle="modal"
            data-bs-target="#serviceModal"
            data-category="environment"
            onclick="handleClick(this)"
            >Environment and Natural Resources</a
          >
        </h4>
        <p>
          Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit
          aspernatur
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
      <div class="icon-box">
        <div class="icon"><i class="bx bx-briefcase"></i></div>
        <h4>
          <a
            href=""
            data-bs-toggle="modal"
            data-bs-target="#serviceModal"
            data-category="planning"
            onclick="handleClick(this)"
            >Planning and Development</a
          >
        </h4>
        <p>
          Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit
          aspernatur
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
      <div class="icon-box">
        <div class="icon"><i class="bx bx-archive"></i></div>
        <h4>
          <a
            href=""
            data-bs-toggle="modal"
            data-bs-target="#serviceModal"
            data-category="treasury"
            onclick="handleClick(this)"
            >Treasury</a
          >
        </h4>
        <p>
          Quis consequatur saepe eligendi voluptatem consequatur dolor
          consequuntur
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
      <div class="icon-box">
        <div class="icon"><i class="bi bi-card-text"></i></div>
        <h4>
          <a
            href=""
            data-bs-toggle="modal"
            data-bs-target="#serviceModal"
            data-category="permit"
            onclick="handleClick(this)"
            >Permit and Licensing</a
          >
        </h4>
        <p>
          Quis consequatur saepe eligendi voluptatem consequatur dolor
          consequuntur
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
      <div class="icon-box">
        <div class="icon"><i class="bx bx-bar-chart"></i></div>
        <h4>
          <a
            href=""
            data-bs-toggle="modal"
            data-bs-target="#serviceModal"
            data-category="budget"
            onclick="handleClick(this)"
            >Budget</a
          >
        </h4>
        <p>
          Quis consequatur saepe eligendi voluptatem consequatur dolor
          consequuntur
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
      <div class="icon-box">
        <div class="icon"><i class="bx bx-wallet"></i></div>
        <h4>
          <a
            href=""
            data-bs-toggle="modal"
            data-bs-target="#serviceModal"
            data-category="accounting"
            onclick="handleClick(this)"
            >Accounting</a
          >
        </h4>
        <p>
          Quis consequatur saepe eligendi voluptatem consequatur dolor
          consequuntur
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
      <div class="icon-box">
        <div class="icon"><i class="bi bi-percent"></i></div>
        <h4>
          <a
            href=""
            data-bs-toggle="modal"
            data-bs-target="#serviceModal"
            data-category="assessor"
            onclick="handleClick(this)"
            >Assessor</a
          >
        </h4>
        <p>
          Quis consequatur saepe eligendi voluptatem consequatur dolor
          consequuntur
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
      <div class="icon-box">
        <div class="icon"><i class="bi bi-egg"></i></div>
        <h4>
          <a
            href=""
            data-bs-toggle="modal"
            data-bs-target="#serviceModal"
            data-category="agriculture"
            onclick="handleClick(this)"
            >Agriculture</a
          >
        </h4>
        <p>
          Quis consequatur saepe eligendi voluptatem consequatur dolor
          consequuntur
        </p>
      </div>
    </div>
  </div>
</div>
