<div class="footer-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
          <li>
            <i class="bx bx-chevron-right"></i><a href="#">Transparency</a>
          </li>
          <li><i class="bx bx-chevron-right"></i><a href="#">News</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 footer-links">
        <h4>Government</h4>
        <ul>
          <li>
            <i class="bx bx-chevron-right"></i>
            <a href="#">Municipal Mayor</a>
          </li>
          <li>
            <i class="bx bx-chevron-right"></i>
            <a href="#">Vice Mayor</a>
          </li>
          <li>
            <i class="bx bx-chevron-right"></i> <a href="#">SB Members</a>
          </li>
          <li>
            <i class="bx bx-chevron-right"></i>
            <a href="#">Department Heads</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 footer-contact">
        <h4>Contact Us</h4>
        <p>
          Municipal Hall,<br />
          Pob. Ilaya, Panay 5801,<br />
          Capiz <br /><br />
          <strong>Phone:</strong> +63 036 621-2022<br />
          <strong>Email:</strong> panay.presedentia1581@gmail.com<br />
        </p>
      </div>

      <div class="col-lg-3 col-md-6 footer-info">
        <h4>Municipality of Panay</h4>
        <figure class="text-center">
          <blockquote class="blockquote">
            <p>
              Malawig nga panahon ang akon gin-agihan para magserbisyo sa Panay
              kag liwat ako nga magabalik para ipadayon ang akon gin-umpisahan.
              Ang
              <span class="text-uppercase text-danger fw-bolder">Hidlaw</span>
              nga tinaga is so meaningful for me and trust that just like love,
              it is fonder the second time around.
            </p>
          </blockquote>
          <figcaption class="blockquote-footer">
            <cite
              title="I spent a lot of time to serve in Panay and I will come back to continue what I started. The word HIDLAW is so meaningful for me and trust that just like love, it is fonder the second time around."
              >Mayor Vic Bermejo
            </cite>
          </figcaption>
        </figure>
        <div class="social-links mt-3">
          <a
            href="https://www.facebook.com/HidlawPANAY"
            target="_blank"
            class="facebook"
            ><i class="bx bxl-facebook"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="copyright">
    &copy; Copyright <strong><span>Maveous Galley</span></strong
    >. All Rights Reserved
  </div>
</div>
