<div class="container d-flex justify-content-between align-items-center">
  <div class="logo">
    <h1><a href="/index.html">Panay</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
  </div>

  <nav id="navbar" class="navbar">
    <ul>
      <li><a href="/index.html" data-route="index">Home</a></li>
      <li class="dropdown">
        <a href="#"><span>About Panay</span> <i class="bi bi-chevron-down"></i></a>
        <ul>
          <li><a class="btn" href="/about.html">About</a></li>
          <li><a class="btn" href="/history.html">History of Panay</a></li>
        </ul>
      </li>
      <li>
        <a href="/transparency.html" data-route="transparency">Transparency</a>
      </li>
      <li class="dropdown">
        <a href="#"
          ><span>Government</span> <i class="bi bi-chevron-down"></i
        ></a>
        <ul>
          <li><a href="/mayor.html">Municipal Mayor</a></li>
          <li><a href="/vice-mayor.html">Vice Mayor</a></li>
          <li><a href="/sb-members.html">SB Members</a></li>
          <li><a href="/department-heads.html">Department Heads</a></li>
        </ul>
      </li>
      <!-- <li class="dropdown">
        <a href="#"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
        <ul>
          <li><a href="#">Health Services</a></li>
          <li><a href="#">City Registry</a></li>
          <li><a href="#">Social Welfare</a></li>
          <li><a href="#">Senior Citizens</a></li>
          <li><a href="#">Traffic Management</a></li>
          <li><a href="#">Disaster Risk Management</a></li>
          <li><a href="#">Public Employment Service</a></li>
          <li><a href="#">Engineering & Public Works</a></li>
          <li class="dropdown">
            <a href="#"
              ><span>Parks, Environment & Waste Management</span>
              <i class="bi bi-chevron-right"></i
            ></a>
            <ul>
              <li><a href="#">Department of Public Services</a></li>
              <li><a href="#">Parks Development</a></li>
            </ul>
          </li>
        </ul>
      </li> -->
      <li class="dropdown">
        <a href="#"><span>Tourism</span> <i class="bi bi-chevron-down"></i></a>
        <ul>
          <li><a class="btn disabled" href="#">Getting to Panay</a></li>
          <li><a class="btn disabled" href="#">Lingga-anay sa Panay</a></li>
          <li><a class="btn disabled" href="#">Tourism Advisory</a></li>
          <li><a class="btn disabled" href="#">Tourism Highlights</a></li>
        </ul>
      </li>
      <li><a href="/news.html" data-route="news">News</a></li>
      <li><a href="/contact.html" data-route="contact">Contact</a></li>
      <li>
        <a href="/lingga-anay/"
          ><span class="btn btn-sm btn-danger"
            ><i class="bx bxs-bell"></i> Lingga-anay 2023</span
          ></a
        >
      </li>
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
  </nav>
  <!-- .navbar -->
</div>
